<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.xin.xd.core.dao.LogMapper">

  <resultMap id="BaseResultMap" type="priv.xin.xd.core.entity.Log">
    <id column="LOG_ID" jdbcType="VARCHAR" property="logId" />
    <result column="LOG_HAPPEN_TIME" jdbcType="TIMESTAMP" property="logHappenTime" />
    <result column="LOG_USER" jdbcType="VARCHAR" property="logUser" />
    <result column="LOG_CONTENT" jdbcType="VARCHAR" property="logContent" />
    <result column="LOG_FILE" jdbcType="VARCHAR" property="logFile" />
    <result column="LOG_REQ_HEAD" jdbcType="VARCHAR" property="logReqHead" />
  </resultMap>

  <sql id="Base_Column_List">
    LOG_ID, LOG_HAPPEN_TIME, LOG_USER, LOG_CONTENT, LOG_FILE, LOG_REQ_HEAD
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_log
    where LOG_ID = #{logId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from s_log
    where LOG_ID = #{logId,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="priv.xin.xd.core.entity.Log">
    insert into s_log (LOG_ID, LOG_HAPPEN_TIME, LOG_USER, 
      LOG_CONTENT, LOG_FILE, LOG_REQ_HEAD
      )
    values (#{logId,jdbcType=VARCHAR}, #{logHappenTime,jdbcType=TIMESTAMP}, #{logUser,jdbcType=VARCHAR}, 
      #{logContent,jdbcType=VARCHAR}, #{logFile,jdbcType=VARCHAR}, #{logReqHead,jdbcType=VARCHAR}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="priv.xin.xd.core.entity.Log">
    update s_log
    <set>
      <if test="logHappenTime != null">
        LOG_HAPPEN_TIME = #{logHappenTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logUser != null">
        LOG_USER = #{logUser,jdbcType=VARCHAR},
      </if>
      <if test="logContent != null">
        LOG_CONTENT = #{logContent,jdbcType=VARCHAR},
      </if>
      <if test="logFile != null">
        LOG_FILE = #{logFile,jdbcType=VARCHAR},
      </if>
      <if test="logReqHead != null">
        LOG_REQ_HEAD = #{logReqHead,jdbcType=VARCHAR},
      </if>
    </set>
    where LOG_ID = #{logId,jdbcType=VARCHAR}
  </update>

</mapper>